@using System.Text.Json
<!DOCTYPE html>
<html lang="en">

@{
    ViewData["Title"] = "500 Crawl";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _500_crawl</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Game.css" asp-append-version="true" />

    <script src="~/js/game/game.js" defer></script>
    @* <script src="~/js/game/state.js" defer></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    @*We need to set our game state var here since game.js wont have access to it until we do.
    It should just be embedded in the html so we need to decode it by turning it into a json.*@
    <script>
        let receivedGameState = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model,
        new JsonSerializerOptions{
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        }));
    </script>
</head>
<body>
    @*The top bar*@
    <nav class="navbar fixed-top navbar-dark bg-transparent">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">500 Crawl</span>
            <div id="menu" class="nav-item dropdown ms-auto">
                <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        @*Everything here has to have data-confirm-title, data-confirm-message, and data-confirm-action
                        as they will be read and given to the modal on click*@
                        <a
                            class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirm-box"
                            data-confirm-title="Return to the home page" data-confirm-message="Are you sure you want to exit?"
                            data-confirm-action="/Home/Index"
                        >Home</a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirm-box"
                            data-confirm-title="Logout" data-confirm-message="Are you sure you want to logout?"
                            data-confirm-action="/Login/Logout"
                        >Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-center">
    </div>
    @*The box for confirming if a player wants to do some menu action*@
    <div id="confirm-box" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="confirm-message">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirm-yes">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirm-no">No</button>
                </div>
            </div>
        </div>
    </div>
    <div id="play-area">
        <h2 id="player-health" class="health"></h2>
        <h2 id="ai-health" class="health"></h2>
        <h2 id="player-wins" class="health"></h2>
        <h2 id="ai-wins" class="health"></h2>
        <h2 id="target-score" class="health">@Model.RoundTarget</h2>
        <h2 id="trumps" class="health"></h2>
        <div id="decision-screen">
            <div class="left">
                <form id="attack-form">
                    <button id="attack-button" class="main-button" type="submit">Attack</button>
                    <h1>Attack From</h1>
                    <div id="suit-selection" class="select-field">
                        <input type="radio" class="btn-check" name="suit" id="ground-select" value="0" checked>
                        <label for="ground-select" class="btn btn-outline-secondary" >Ground</label>

                        <input type="radio" class="btn-check" name="suit" id="water-select" value="1">
                        <label for="water-select" class="btn btn-outline-secondary">Water</label>

                        <input type="radio" class="btn-check" name="suit" id="air-select" value="2">
                        <label for="air-select" class="btn btn-outline-secondary">Air</label>

                        <input type="radio" class="btn-check" name="suit" id="arcane-select" value="3">
                        <label for="arcane-select" class="btn btn-outline-secondary">Arcane</label>

                        <input type="radio" class="btn-check" name="suit" id="everywhere-select" value="4">
                        <label for="everywhere-select" class="btn btn-outline-secondary">Everywhere</label>
                    </div>
                    <h1>Attack Difficult</h1>
                    <div id="difficulty-selection" class="select-field">
                        <input type="radio" class="btn-check" name="hands" id="6-select" value="6" checked>
                        <label for="6-select" class="btn btn-outline-secondary" >6</label>

                        <input type="radio" class="btn-check" name="hands" id="7-select" value="7">
                        <label for="7-select" class="btn btn-outline-secondary">7</label>

                        <input type="radio" class="btn-check" name="hands" id="8-select" value="8">
                        <label for="8-select" class="btn btn-outline-secondary">8</label>

                        <input type="radio" class="btn-check" name="hands" id="9-select" value="9">
                        <label for="9-select" class="btn btn-outline-secondary">9</label>

                        <input type="radio" class="btn-check" name="hands" id="10-select" value="10">
                        <label for="10-select" class="btn btn-outline-secondary">10</label>
                    </div>
                </form>
            </div>
            <div class="right">
                <button id="defend-button" class="main-button">Defend</button>
            </div>
        </div>
        <div id="preparing-screen">
            <ul id="kitty-list" class="card-display">
                
            </ul>
            <button class="main-button" id="kitty_select">Finished</button>
        </div>
        <div id="playing-screen">
            <div class="left"></div>
            <div class="right">
                <div id="opponent-card" class="card">
                <h1 id="opponent-card-v" class="card-value"></h1>
                <h3 id="opponent-card-s" class="card-suit"></h3>
            </div>
            </div>
        </div>
        <div id="card-area">
            <ul id="card-list" class="card-display">
                
            </ul>
        </div>
    </div>
    <template id="card-template">
        <li>
            <div class="card">
                <h1 class="card-value">3</h1>
                <h3 class="card-suit">Arcane</h3>
            </div>
        </li>
    </template>
</body>