@{
    ViewData["Title"] = "Login";
}

@{
    Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="input-field">
        <label for="username">Username</label>
        <input id="username" type="text"/>
    </div>
    <div class="input-field">
        <label for="username">Password</label>
        <input id="password" type="password"/>
    </div>
    <a class="login-link" asp-area="" asp-controller="Login" asp-action="Signup">Sign-Up</a>
</div>
