@{
    ViewData["Title"] = "Login";
}

@{
    Layout = "~/Views/Shared/_Authentication.cshtml";
}

@section Scripts {
    <script src="~/js/signup.js"></script>
}


<div class="auth-area">
    <h1 class="display-4">Sign-Up</h1>
    <form id="signup-form"> 
        <div class="input-field">
            <label for="username">Username</label>
            <input id="username" name="username" type="text"/>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input id="password" name="password" type="password"/>
        </div>
        <div class="input-field">
            <label for="conf-password">Confirm Password</label>
            <input id="conf-password" name="confPassword" type="password"/>
        </div>
        <button id="signup-btn" class="auth-btn">Sign-Up</button>
    </form>
    <h4 class="error"></h4>
    <a class="login-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
</div>
