body {
  background-color: #0a0a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    background-color: #eef0ff;
    min-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 20px solid #3a2f6b;
    border-radius: 40px;
}

h1 {
    text-align: center;
    color: #1f2340;
    margin: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 5px 10px;
}

label {
    color: #5c618f;
    font-weight: 600;
}

.login-link {
    color: #4b4f9a;
    font-weight: 600;
    font-size: large;
    margin-bottom: 20px;
    margin-top: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.auth-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main {
    height: 100%;
}

.auth-btn {
    background-color: #3a2f6b;
    color: #eef0ff;
    margin: 5px 30px;

    border: none;
    border-radius: 12px;

    font-size: 1rem;
    font-weight: 600;

    padding: 4px;

    cursor: pointer;
    transition: background-color 0.5s ease;
}

.auth-btn:hover {
    background-color: #4b4f9a;
}

.auth-btn:active {
    background-color: #261e4d;
}

.error {
    color: #b8113a;
    font-weight: 600;
    margin: 5px;
}