@{
    ViewData["Title"] = "500 Crawl";
}

@section Scripts {
    <script src="~/js/game.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Game</h1>>
    <div>
        <ul id="cardList">
        </ul>
    </div>
    <button id="drawBtn" type="submit">Draw Cards</button>
</div>